@use "collection" as *;

@function color-palette($key) {
  $palette: (
    "espresso": #030302,
    // 3:1 with linen, large text only
    "koucha": #928272,
    // 3:1 with koucha, large text only. 17:1 with espresso.
    "hilite": #bfff0f,
    // Decorative only, not used in accessible scenarios
    "linen": #f0ebe6,
    "ocha": #a8de87,
    "yogurt": #e3815b,
    "echinacea": #e3e371,
  );

  @return checkAndGet($palette, #{$key});
}

@function color-role($key) {
  $role: (
    "border-dark": color-palette("espresso"),
    "border-light": color-palette("linen"),
    "surface-dark": color-palette("espresso"),
    "surface-light": color-palette("linen"),
    "text-dark": color-palette("espresso"),
    "text-dark-accent": color-palette("hilite"),
    "text-light": color-palette("linen"),
  );

  @return checkAndGet($role, #{$key});
}

@function color-semantic($key) {
  $semantic: (
    "surface-caution": color-palette("echinacea"),
    "surface-confirmed": color-palette("ocha"),
    "surface-warning": color-palette("yogurt"),
  );

  @return checkAndGet($semantic, #{$key});
}
