@use "map";

$remInPx: 16px;

@function u($size) {
  $sizes: (
    "0": 0rem,
    "0.25": 0.25rem,
    "0.5": 0.5rem,
    "0.75": 0.75rem,
    "1": 1rem,
    "1.25": 1.25rem,
    "1.5": 1.5rem,
    "2": 2rem,
    "2.5": 2.5rem,
    "3": 3rem,
    "3.25": 3.25rem,
    "3.5": 3.5rem,
    "4": 4rem,
    "4.5": 4.5rem,
    "5": 5rem,
    "6": 6rem,
    "7": 7rem,
  );

  @return map.checkAndGet($sizes, #{$size});
}

@function ratio($ratio) {
  $ratios: (
    //just interval ratios
    "minorSecond": 1.067,
    "majorSecond": 1.125,
    "minorThird": 1.2,
    "majorThird": 1.25,
    "perfectFourth": 1.333,
    "augmentedFourth": 1.414,
    "perfectFifth": 1.5,
    "minorSixth": 1.6,
    "majorSixth": 1.666,
    "minorSeventh": 1.8,
    "majorSeventh": 1.875,
    "octave": 2,
    // other
    "golden": 1.618
  );

  @return map.checkAndGet($ratios, #{$ratio});
}
